
/* 

    You can write your own styles here.jumbotron {background-color: blue;
    
    
    .jumbotron {background-color: blue;Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');


.MyContent {
    width: 60%;
    }

    .navbar2{
        visibility: hidden;
        display: none;
    }

@media (max-width:1100px){
    .jumbotron {color: red;}
    .card-item {flex-direction: column;}
    .nav-link {display: none;}
    .MyContent {width: 90%;}
    .navbar2 {visibility: hidden;
        display: none;}
    .navbar{
        display: block;
        visibility: visible;}
}




/* Adds space the NavBar li elements */
ul>li {
    padding-left: 30px;
    list-style-type: none;
}


/* MyBody holds the whole page and se */


.card {
    width: 10;
    color: red;    
}

.navbar-default {
    background-color: rgba(52,58,64,255);
    color: grey;
    width: 100%;

}

.jumbotron{
    background-color: rgba(234,236,240,255);
    padding: 0px 50px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.page {
    color: white;
    margin-left:0px;
    right: 500px;
}

.logo {
    color: white;

}

.top{
    padding-left: 50px;

}

.card-title {
    color:rgb(116, 111, 111);
    font-family: 'Playfair Display', serif;
}

.nav-link {
    color: grey;
}


.nav-link:hover {
    color: white;
}

